# Node JS Modules
node_modules/

# Stored Unused Files
unused/

# Local Only
*token.json
.vscode
.npm
*token.js
*cookies.txt

# Planning & Design
planning/

# In Memory Files
audioUrl.mp3

local/

# Lite Databases
*.db*